@import 'tailwindcss';

/* Estilos base */
@import 'style.css';
@import 'style2.css';

/* Estilos específicos de páginas */
@import 'login.css'; 
@import 'contacto.css'; 
@import 'nosotros.css';
@import 'categorias.css';
@import 'pedidos.css';
@import 'CRUD.css';
